// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#write {
  color: red;
}

.largeur {
  width: 800px !important;
}

.fas {
  font-size: 24px;
}